<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Student College Catalog</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
<script src="collegeService.js"></script>
<script src="collegeController.js"></script>
</head>
<body>


	<div ng-app="myApp" ng-controller="CollegeController">
		<h4>Student Enrollment Form</h4>
		<form novalidate>
			<table>
				<tr>
					<th>First Name <font style="color: red;">&nbsp;*</font></th>
					<td><input type="text" ng-model="firstName" maxlength="20" /></td>
				</tr>
				<tr>
					<th>Last Name<font style="color: red;">&nbsp;*</font></th>
					<td><input type="text" ng-model="lastName" maxlength="20" /></td>
				</tr>
				<tr>
					<th>About Me<font style="color: red;">&nbsp;*</font></th>
					<td><input type="text" ng-model="aboutMe" maxlength="200" /></td>
				</tr>
				<tr>
					<th>mobileNo<font style="color: red;">&nbsp;*</font></th>
					<td><input type="text" ng-model="mobileNo" maxlength="10" /></td>
				</tr>
				<tr>
					<th>College<font style="color: red;">&nbsp;*</font></th>
					<td><div>
							<select>
								<option ng-repeat="college in colleges.items" value="college.id">{{college.name}}</option>
							</select>
						</div></td>
				</tr>
				<tr>
					<td></td>
					<td><button ng-click="save()" value="Save">Save</button>&nbsp;
						<button ng-click="reset()" value="Reset">Reset</button></td>
				</tr>
			</table>
	</div>
</body>
</html>